#header {
    width: 100%;
    height: 150px;
    background-color: #aaf2ac;
    position: relative;
}

body {
    overflow: scroll;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans';
    color: black;
}

#return {
    float: left;
    list-style: none;
    margin-right: 100px;
}

#h1 {
    position: relative;
    font-family: 'Lucida Sans';
    text-align: center;
    margin-right: 200px;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a {
    text-decoration: none;
}

.box {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    margin: 100;
    padding: 50;
    background-color: #f7eb00;
    z-index: 1;
    margin-top: 10px;
    text-align: center;
}

* {
    font-family: 'Lucida Sans';
}

.box2 {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    margin: 100;
    padding: 50;
    background-color: black;
    z-index: 1;
    margin-top: 10px;
    color: white;
    text-align: center;
}